$color-primary: #F1CDB3;
$color-primary-hover: #FDDCC4;
$color-title-light: #CDCDCD;
$color-text-light: #FFFFFF;
$color-text-header: #FAFAFA;
$color-title-dark: #545454;
$color-text: #4C4C4C;
$color-button: #292929;
$color-subtitle-text: #B2B2B2;
$color-backgroung-gray: #F6F6F6;
$color-slider-content-background: #FAFAFA;
$color-popup-text: #000;
$color-footer-link: #F1CDB3;
$color-not-only-grad: radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
$color-header-backgroung: rgba(41, 41, 41, 0.6);
$color-backgroung-modal: rgba(41, 41, 41, 0.6);

$content-width: 1200px;

$laptop-width: 1279px;

$laptop-small-1200-width: 1200px;
$laptop-small-1190-width: 1190px;
$laptop-small-1080-width: 1080px;
$laptop-small-950-width: 950px;
$laptop-small-768-width: 768px;

$tablet-width: 767px;
$tablet-740-width: 740px;
$tablet-600-width: 600px;
$tablet-690-width: 690px;
$tablet-580-width: 580px;
$tablet-520-width: 520px;
$tablet-400-width: 400px;
// $tablet-content-width: 708px;

$mobile-width: 320px;
$mobile-content-width: 300px;